###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               localhost
        alias                   localhost
        address                 127.0.0.1
        }



###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         localhost     ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Root Partition
	check_command			check_local_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Current Users
	check_command			check_local_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Total Processes
	check_command			check_local_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Current Load
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Swap Usage
	check_command			check_local_swap!20!10
        }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		0
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             HTTP
	check_command			check_http
	notifications_enabled		0
        }

define service {
        check_command   check_nova.sh
        host_name       localhost
        name            check_nova.sh
        normal_check_interval   5
        service_description     Nova-Number of nova vm instances
        use             generic-service
        }

define service {
        check_command   check_openstack.sh
        host_name       localhost
        name            check_openstack.sh
        normal_check_interval   5
        service_description     Openstack-Number of openstack services running
        use             generic-service
        }


define service {
        check_command   check_nova-status.sh
        host_name       localhost
        name            check_nova-status.sh
        normal_check_interval   5
        service_description     Nova-Nova instances status
        use             generic-service
        }

define service {
        check_command   check_cinder.sh
        host_name       localhost
        name            check_cinder.sh
        normal_check_interval   5
        service_description     Cinder-cinder service status
        use             generic-service
        }


define service {
        check_command   check_volume.sh
        host_name       localhost
        name            check_volume.sh
        normal_check_interval   5
        service_description   Cinder-Number of cinder volume in  available state
        use             generic-service
        }

define service {
        check_command   check_openstack-service-info.sh
        host_name       localhost
        name            check_openstack-service-info.sh
        normal_check_interval   5
        service_description     Openstack-openstack running services list
        use             generic-service
        }

define service {
        check_command   check_image.sh
        host_name       localhost
        name            check_image.sh
        normal_check_interval   5
        service_description     Glance-Number of images 
        use             generic-service
        }

define service {
        check_command   check_image-list.sh
        host_name       localhost
        name            check_image-list.sh
        normal_check_interval   5
        service_description     Glance-openstack image list
        use             generic-service
        }

define service {
        check_command   check_neutron.sh
        host_name       localhost
        name            check_neutron.sh
        normal_check_interval   5
        service_description     Neutron-Total Number of neutron agents 
        use             generic-service
        }

define service {
        check_command   check_neutron-alive.sh
        host_name       localhost
        name            check_neutron-alive.sh
        normal_check_interval   5
        service_description     Neutron-Number of neutron agents alive
        use             generic-service
        }

define service {
        check_command   check_neutron-host.sh
        host_name       localhost
        name            check_neutron-host.sh
        normal_check_interval   5
        service_description     Neutron-List of neutron agents running
        use             generic-service
        }
